@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
.table-container {
    overflow: hidden; /* ensures corners are clipped */
    border-radius: 20px;
   /* box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);*/
  }
  
  table {
    width: 100%;
    border-collapse: collapse; /* critical for border-radius */
    border-spacing: 0;
    background-color: #121212;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
  }
  h2{
    color: #fff;
    margin-bottom: 20px;
  }
  th, td {
    padding: 12px 12px;
    border: 1px solid #2a2a2a;
  }
  
  th {
    background-color: #1e1e1e;
    color: #fff2f2;
    font-weight: bold;
    text-align: left;
  }
  
  /* Optional row styles */
  tr:nth-child(even) {
    background-color: #1a1a1a;
  }
  
  tr:hover {
    background-color: #2c2c2c;
    transition: background-color 0.3s ease;
  }
  